@import url("https://fonts.googleapis.com/css?family=Merriweather|Raleway");
/*  Color Theme*/
/* Color Theme 2 */
/* 
    Created on : Feb 16, 2016, 8:22:58 AM
    Author     : strider64
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.row {
  /* * For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
  *zoom: 1; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  display: table; }

[class^="span"] {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="span"]:first-child {
  margin-left: 0; }

.span1 {
  width: 8.333333333333332%; }

.span2 {
  width: 16.666666666666664%; }

.span3 {
  width: 25%; }

.span4 {
  width: 33.33333333333333%; }

.span5 {
  width: 41.66666666666667%; }

.span6 {
  width: 50%; }

.span7 {
  width: 58.333333333333336%; }

.span8 {
  width: 66.66666666666666%; }

.span9 {
  width: 75%; }

.span10 {
  width: 83.33333333333334%; }

.span11 {
  width: 91.66666666666666%; }

.span12 {
  width: 100%; }

[class^="m-span"] {
  padding: 10px 0;
  margin-left: 3.125%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */ }

[class^="m-span"]:first-child {
  margin-left: 0; }

.m-span1 {
  width: 5.46875%; }

.m-span2 {
  width: 14.0625%; }

.m-span3 {
  width: 22.65625%; }

.m-span4 {
  width: 31.25%; }

.m-span5 {
  width: 39.84375%; }

.m-span6 {
  width: 48.4375%; }

.m-span7 {
  width: 57.03125%; }

.m-span8 {
  width: 65.625%; }

.m-span9 {
  width: 74.21875%; }

.m-span10 {
  width: 82.8125%; }

.m-span11 {
  width: 91.40625%; }

.m-span12 {
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*******************************************
TYPOGRAPHY CSS STYLING
********************************************/
h1, h3, th {
  font-family: 'Merriweather', serif; }

p, td {
  font-family: 'Raleway', sans-serif; }

body {
  background-color: #D9D9D9;
  padding: 0;
  margin: 0; }

img {
  width: 100%; }

.links {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #295f9c; }
  .links:active {
    color: #295f9c; }
  .links:hover {
    color: #006300; }

ul.topnav li.icon {
  display: none; }

ul.topnav {
  list-style-type: none;
  overflow: hidden;
  background-color: #2e2e2e;
  padding: 0; }

ul.topnav li {
  float: left; }

ul.topnav li a.top-link {
  display: none; }

ul.topnav li a {
  display: inline-block;
  color: #DCD0C0;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  padding: 14px 16px; }

ul.topnav li a:hover {
  color: #ffe656;
  background-color: #185bd3; }

/* SMARTPHONE STYLING */
@media only screen and (max-width: 480px) {
  #header, #logo {
    display: none; }

  .span6 {
    width: 100%; }

  ul.topnav {
    background-color: #2e2e2e; }

  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; }

  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    border-bottom: 1px solid #FFFFFF;
    text-align: left; }

  div.page {
    background-color: #fff;
    padding: 15px; }
    div.page div.main-content {
      margin-bottom: 10px; }
      div.page div.main-content h1 {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.2rem;
        line-height: 1.8; }
      div.page div.main-content p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        line-height: 1.5; }
    div.page div.aside-content {
      margin-bottom: 10px; }
      div.page div.aside-content h1 {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size: 1.2rem;
        line-height: 1.8; }
      div.page div.aside-content p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0rem;
        line-height: 1.5; }
      div.page div.aside-content iframe {
        width: 100%;
        max-width: 550px;
        height: 315px; }

  footer.footer-style {
    height: 50px;
    text-align: center;
    background-color: #2e2e2e; }
    footer.footer-style .footer-name {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.2rem;
      line-height: 50px;
      color: #fff; } }
/* TABLET STYLING */
@media only screen and (min-width: 481px) and (max-width: 999px) {
  #calendarBox {
    display: none; }

  .span6 {
    width: 100%; }

  #header {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    height: 235px;
    background-color: #fff;
    padding: 5px;
    margin: 0 auto; }

  .nav-bar {
    max-width: 600px; }

  div#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 100%;
    max-width: 180px;
    height: 200px;
    text-align: center;
    padding: 0;
    margin: 0; }

  .page {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto; }
    .page .main-content {
      margin-bottom: 10px; }
      .page .main-content h1 {
        font-size: 1.8rem;
        line-height: 1.8;
        color: #2e2e2e; }
      .page .main-content p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #2e2e2e; }
    .page .aside-content img {
      max-width: 600px; }
    .page .aside-content h1 {
      font-size: 1.4rem;
      line-height: 1.8;
      color: #2e2e2e; }
    .page .aside-content p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #2e2e2e; }
    .page .aside-content iframe {
      width: 100%;
      max-width: 600px;
      height: 315px; }

  footer.footer-style {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 50px;
    text-align: center;
    background-color: #2e2e2e;
    margin: 0 auto; }
    footer.footer-style .footer-name {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.2rem;
      line-height: 50px;
      color: #fff; } }
/* PC STYLING */
@media only screen and (min-width: 1000px) {
  #header {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    height: 235px;
    background-color: #fff;
    padding: 5px;
    margin: 0 auto; }

  div#logo {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 100%;
    max-width: 180px;
    height: 200px;
    text-align: center;
    padding: 0;
    margin: 0; }

  /* Calendar CSS Styling */
  div#calendarBox {
    float: right;
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 5px;
    margin: 0px; }

  table {
    float: none;
    width: 100%;
    position: relative;
    border-collapse: collapse; }

  table th {
    border-bottom: 1px solid #CCCCCC; }

  table th.tableHeading {
    height: 25px;
    background-color: #4484CE;
    font-size: 1.0rem;
    line-height: 25px;
    color: #F9CF00; }

  table th {
    vertical-align: bottom;
    font-size: 0.8rem;
    font-weight: bold;
    color: #F9CF00;
    width: 14.2857143%;
    height: 15px;
    padding: 5px;
    background-color: #295f9c; }

  table td {
    border: 1px solid #CCCCCC;
    background-color: #5891d3;
    vertical-align: middle;
    width: 14.2857143%;
    height: 25px;
    font-size: 0.8rem;
    text-align: center;
    color: rgba(217, 217, 217, 0.5); }

  table td a {
    display: inline-block;
    width: 100%;
    height: inherit;
    background-color: #4484CE;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #F9CF00;
    line-height: 25px;
    padding: 0;
    margin: 0; }

  table td a:hover {
    background-color: #2e6bb1; }

  table td.background a {
    font-size: 0.8rem;
    color: #ffa;
    background-color: #295f9c; }

  table td.background a:hover {
    background-color: #2e6bb1; }

  table a.foreground {
    color: #FFFFFF; }

  table .prev-left, table .next-right {
    position: relative;
    bottom: 0;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 1.0rem;
    padding: 0 10px; }

  table .prev-left {
    float: left; }

  table .prev-left:hover {
    color: #F9CF00; }

  table .next-right {
    float: right; }

  table .next-right:hover {
    color: #F9CF00; }

  .page {
    background-color: #fff;
    padding: 10px; }
    .page .main-content {
      padding: 20px; }
      .page .main-content h1 {
        font-size: 1.8rem;
        line-height: 1.8;
        color: #2e2e2e; }
      .page .main-content p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #2e2e2e; }
    .page .aside-content {
      max-width: 600px;
      border-left: 5px double rgba(46, 46, 46, 0.6);
      padding: 10px 10px 10px 20px; }
      .page .aside-content img {
        max-width: 600px; }
      .page .aside-content h1 {
        font-size: 1.4rem;
        line-height: 1.8;
        color: #2e2e2e; }
      .page .aside-content p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #2e2e2e; }
      .page .aside-content iframe {
        width: 100%;
        max-width: 550px;
        height: 315px; }

  footer.footer-style {
    height: 50px;
    background-color: #2e2e2e; }
    footer.footer-style p.footer-name {
      text-align: center;
      font-size: 1.2rem;
      line-height: 50px;
      color: #fff; }
      footer.footer-style p.footer-name span {
        padding-left: 15px; } }

/*# sourceMappingURL=stylesheet.css.map */
